.row
  .col-md-6
    .card
      = simple_form_for @client do |f|
        .card-body
          = f.input :title
          = f.input :name
          = f.input :email
          = f.input :phone
        .card-footer.py-3
          = f.button :submit,'Save', class: 'btn btn-lg btn-primary mr-2 px-5'
          or
          = link_to 'Back to client list', clients_path, class: 'text-muted'
