- content_for :heading do
  = @order.title

- content_for :heading_action_buttons do
  = manage_buttons_for(@order, edit_path: edit_order_path(@order), destroy_path: order_path(@order))

%table.table
  %tr
    %th{ style: 'width: 20%' } Client:
    %td= @order.client.decorate.link
  %tr
    %th Title:
    %td= @order.title

  %tr
    %th Status:
    %td= @order.status_badge

  %tr
    %th Invoice number:
    %td= @order.invoice_number

  %tr
    %th Invoice date:
    %td= @order.formatted_invoice_date

  %tr
    %th Price:
    %td= @order.price.format

  %tr
    %th Cost:
    %td= @order.cost.format

  %tr
    %th Profit:
    %td= @order.profit.format

  %tr
    %th Paid amount:
    %td= @order.payed_amount.format
