.container.d-flex.flex-column.flex-md-row.align-items-center.pt-3.pb-2
  %h5.my-0.mr-md-auto.font-weight-normal
    = link_to 'Big Business', root_path, class: 'logo'
  %nav.my-2.my-md-0.mr-md-3
    = link_to 'Clients', clients_path, class: 'p-2 text-dark'
    = link_to 'Orders', '#', class: 'p-2 text-dark'
    = link_to 'Reports', '#', class: 'p-2 text-dark'

  - if user_signed_in?
    %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle.shadow-none{type: 'button', data: { toggle: 'dropdown'}, aria: { haspopup: 'true'}, aria: { expanded: 'false'}}
      = current_user.name
    .dropdown-menu
      = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item'

.border-bottom.shadow-sm.p-1.mb-3
